html{
    scroll-behavior: smooth;
}
.about-me {
  text-align: center;
}

.carousel-item {
 height: 500px;
 text-align: center;
}
.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
.navbar-light .navbar-brand {
    color: rgb(232 25 25);
    background-color: #0c0c0c;
    border-radius: 47%;
    padding: 7px;
}
.jumbotron{
  background-color: #2b2828;
}
.card{
  background-color: #2b2828;
}
body{
  color: #f8f9fb;
}
